/**
 * Styles added to the Visual Editor (TinyMCE)
 *
 * @source: https://www.gavick.com/magazine/adding-your-own-buttons-in-tinymce-4-editor.html#tc-section-4 
 * @since 2014.05.02
 */

#edit-slug-box.hide-if-no-js {
    display: none;
}

i.mce-i-icon {
	font: 400 20px/1 dashicons;
	padding: 0;
	vertical-align: top;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-left: -2px;
	padding-right: 2px
}
.mce-ico.mce-i-icon.dashicons-images-alt2 {
	color: #cc4f02;
}